.categories-list {
    margin: 1em 10%;

    display: flex;
    flex-flow: column;
    gap: 1em;
}

.categories-list--categories {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1em;
    overflow-x: scroll; /* TODO CAMBIAR MODO DE SCROLL */
}

.categories-list--categories::-webkit-scrollbar {
    display: none;
}

.categories-item {
    background-color: var(--button-color);
    padding: 1em;
    border-radius: 100px;

    font-size: .8rem;

    width: 6em;
    height: 6em;

    display: flex;
    justify-content: center;
    align-items: center;
}