.restaurants-list--restaurants .restaurant {
    width: 100%;
    padding: 1em;
    background-color: var(--items-color);
    border-radius: 10px;

    display: flex;
    flex-flow: column;
    gap: 1em;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
}

.restaurants-list--restaurants .restaurant:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.restaurant-image {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.restaurant-image img {
    width: 100%s;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.restaurant-image img:hover {
    scale: 110%;
}