.my-profile {
    display: flex;
    flex-flow: row;
    gap: 1em;
    background-color: var(--input-color);
    color: var(--text-color);

    padding: 2em;
    border-radius: 20px;

    margin: 10%;

    width: 90%;
    max-width: 1500px;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.my-profile__index {
    display: flex;
    flex-flow: column;
    gap: .5em;

    width: 30%;

    padding-right: 1em;
    border-right: 1px solid var(--text-color);
}

.index-item {
    display: flex;
    flex-flow: row;
    gap: .5em;
    align-items: center;
}

.saved-restaurants-button,
.reviews-button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: var(--text-color);
    text-align: left;
}

.my-profile__content {
    width: 70%;
}

.my-profile__data.active {
    display: flex;
    flex-flow: column;
    gap: 2em;
}

.data--info {
    display: flex;
    flex-flow: row;
    gap: .5em;

    align-items: center;
}

.data--info-logo {
    width: 5em;
    height: 5em;

    border-radius: 100px;
}

.data--configuration {
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.data--configuration input {
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 10px;

    background-color: var(--main-color);
    color: var(--text-color);

    font-size: 1rem;
}

.configuration-buttons {
    display: flex;
    flex-flow: row;
    gap: .5em;
}

.my-profile__restaurants.hidden,
.my-profile__reviews.hidden,
.my-profile__data.hidden {
    display: none;

    flex-flow: column;
    gap: 1em;
}


.index-item {
    cursor: pointer;
}