.restaurants-list {
    margin: 1em 10%;

    display: flex;
    flex-flow: column;
    gap: 1em;
}

.restaurants-list--restaurants {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
}



@media(max-width: 768px) {
    .restaurants-list h1 {
        text-align: center;
    }
}