.restaurant-page {
    width: 100%;

    display: flex;
    flex-flow: column;
    gap: 1em;
}

.back-button {
    position: fixed;
    top: 6em;
    left: 1em;
    cursor: pointer;

    z-index: 100;
    border-radius: 100px;
    cursor: pointer;

    width: 3em;
    height: 3em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurant-page-image {
    width: 100%;
    position: relative;
    max-height: 40vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurant-page-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.restaurant-page-title {
    position: absolute;
    top: 0em;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease;
}

.restaurant-page-title:hover {
    background-color: transparent;
}

.restaurant-page-title h1 {
    position: absolute;
    bottom: .5em;
    left: 10%;
    color: white;
}

.favorite-button {
    position: absolute;
    bottom: 2.2em;
    right: 10%;
}
.favorite-button button {
    width: 3em;
    height: 3em;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}


.cuisine-type, .restaurant-description, .restaurant-rating, .restaurant-address, .admin-controls {
    margin: 1em 10%;
    font-size: 1.2rem;
}

.restaurant-rating {
    display: flex;
    flex-flow: row;
    gap: .5em;
    align-items: center;
}

.admin-controls {
    display: flex;
    gap: 1em;
}

.restaurant-address {
    display: flex;
    flex-flow: column;
    gap: .5em;
}

.restaurant-address p {
    font-size: 1rem;    
}

.restaurant-reviews {
    margin: 1em 10%;

    display: flex;
    flex-flow: column;
    gap: 1em;

    font-size: 1.2rem;
}

.restaurant-reviews--review ul {
    padding: 1em;

    display: flex;
    flex-flow: column;
    gap: 1em;

    background-color: var(--input-color);
    border-radius: 10px;

    font-size: 1rem;
}

.review-user {
    font-size: 1.5rem;
}

.review-controls {
    display: flex;
    flex-flow: row;
    gap: .5em;
}
.review-controls button {
    width: 100%;
}

.restaurant-website {
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: underline;

    padding: .5em 1em;
    border-radius: 10px;
    background-color: transparent;
    color: var(--text-color);

    text-align: center;
    width: 100%;
}

.restaurant-website:hover {
    background-color: var(--items-color);
}