.restaurant-page {
    width: 100%;

    display: flex;
    flex-flow: column;
    gap: 1em;
}

.back-button {
    position: fixed;
    top: 6em;
    left: 1em;
    cursor: pointer;

    z-index: 100;
    border-radius: 100px;
    cursor: pointer;

    width: 3em;
    height: 3em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurant-page-image {
    width: 100%;
    position: relative;
    max-height: 40vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurant-page-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.restaurant-page-title {
    position: absolute;
    top: 0em;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease;
}

.restaurant-page-title:hover {
    background-color: transparent;
}

.restaurant-page-title h1 {
    position: absolute;
    bottom: .5em;
    left: 10%;
    color: white;
}

.favorite-button {
    position: absolute;
    bottom: 2.2em;
    right: 10%;
}
.favorite-button button {
    width: 3em;
    height: 3em;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}


.cuisine-type, .restaurant-description, .restaurant-rating, .restaurant-address, .admin-controls, .edit-restaurant-form {
    margin: 1em 10%;
    font-size: 1.2rem;
}

.edit-restaurant-form {
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.edit-restaurant-form input, .edit-restaurant-form select {
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 10px;

    background-color: var(--items-color);
    color: var(--text-color);

    font-size: 1rem;
}

.edit-restaurant-form input[type=file] {
    background-color: transparent;
    padding: 0;
}

.edit-restaurant-form input::file-selector-button {
    background-color: var(--button-color);
    color: var(--text-color);
    border: 1px solid transparent;
    border-radius: 10px;
    padding: .5em 1em;
    cursor: pointer;

    transition: all 0.3s ease;
    color: white;
}

.edit-restaurant-form input::file-selector-button:hover {
    background-color: var(--input-color);
    color: var(--button-color);
    border: 1px solid var(--button-color);
}

.edit-restaurant-buttons {
    display: flex;
    flex-flow: row;
    gap: .5em;
}

.restaurant-rating {
    display: flex;
    flex-flow: row;
    gap: .5em;
    align-items: center;
}

.admin-controls {
    display: flex;
    gap: 1em;
}

.restaurant-address {
    display: flex;
    flex-flow: column;
    gap: .5em;
}

.restaurant-address p {
    font-size: 1rem;    
}

.restaurant-reviews {
    margin: 1em 10%;

    display: flex;
    flex-flow: column;
    gap: 1em;

    font-size: 1.2rem;
}

.restaurant-reviews--review {
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.restaurant-reviews--review ul {
    padding: 1em;

    display: flex;
    flex-flow: column;
    gap: em;

    background-color: var(--input-color);
    border-radius: 10px;

    font-size: 1rem;
}

.review-user {
    font-size: 1.5rem;
}

.review-controls {
    display: flex;
    flex-flow: row;
    gap: .5em;
}
.review-controls button {
    width: 100%;
}

.restaurant-website {
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: underline;

    padding: .5em 1em;
    border-radius: 10px;
    background-color: transparent;
    color: var(--text-color);

    text-align: center;
    width: 100%;
}

.restaurant-website:hover {
    background-color: var(--items-color);
}





.edit-review-form {
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 1em;
    gap: .5em;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 800px;
}

.edit-review-form textarea, .edit-review-form input {
    display: block;
    width: 100%;
    max-width: 1000px;

    background-color: white;
    color: black;
    padding: 1em;

    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}

.editing-review {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.edit-review-form input[type="file"] {
    background-color: transparent;
    padding: 0;
    color: white;
}

.edit-review-form input::file-selector-button {
    background-color: var(--button-color);
    color: var(--text-color);
    border: 1px solid transparent;
    border-radius: 10px;
    padding: .5em 1em;
    cursor: pointer;

    transition: all 0.3s ease;
    color: white;
}

.edit-review-form input::file-selector-button:hover {
    background-color: var(--input-color);
    color: var(--button-color);
    border: 1px solid var(--button-color);
}

.edit-review-form-buttons {
    display: flex;
    flex-flow: row;
    gap: .5em;
    margin-top: 1em;
    width: 100%;
}

.edit-review-form-buttons button {
    width: 100%;
}